*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/* nav bar  */
nav
{
    margin-bottom: 30px;
    background-color: black;
    width: 100%;
    padding: 10px 2%;     
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.MainName
{
    display: flex;

}
.mainName1
{
  color :white;
  font-size: x-large;
  font-family: sans-serif;
}
.mainName2
{
    margin-left: 6%;
    margin-top: 4%;
    color: rgb(147, 147, 147);
}

.sub-menu-wrap-Right
{
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    right:0%;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
}
/* box of left dropdown  */
.sub-menu-wrap-Left
{
    position: absolute;
   
    top: 100%;
    padding: 0;
    margin: 0;
    left:0%;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
}
/* box of right dropdown onclick */
.sub-menu-wrap-Right.hide-menu
{
    max-height: 0px;
}
/* box of left dropdown onclick */
.sub-menu-wrap-Left.hide-menu
{
    max-height: 0px;
}
/* box of right dropdown color,align*/
.sub-menu-Right
{

   background-color: black;
    padding: 10%;
    text-align: right;
}
/* box of left dropdown color,align*/
.sub-menu-Left
{
    background-color:rgb(0, 0, 0);
    padding: 10%;
    text-align: left;
}
/* text of right dropdown */
.right-menu
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}
/* text of right dropdown */
.Left-menu
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}
/* text of right dropdown */
.sub-menu-link-Right
{
    text-decoration: none;
    margin: 12px 0;
}
/* text of left dropdown */
.sub-menu-link-Left
{
    text-decoration: none;
    margin: 12px 0;
}
.sub-menu-link-Right p
{
    margin-top: 7px;
    color:rgb(176, 170, 170);
    text-decoration: none;
}
.sub-menu-link-Left p
{
    margin-top: 7px;
    color:rgb(176, 170, 170);
    text-decoration: none;
}
.sub-menu-link-Right :hover 
{
    margin-top: 7px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.sub-menu-link-Left :hover 
{
    margin-top: 7px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.lefticonbar
{
    width: 3%;
    margin-left: 0cm;    
}
.Righticonbar
{
    width: 3%;
    margin-left: 0cm;    
}
/* nav bar end */
/* side bar */
.sidebar
{
    display: block;
    width: 68px;
    top:200px;
    position: fixed;
    z-index: 1;
    
}
.sideicons
{
   
    display: grid;
    line-height: 32px;
}
.sideicons p
{
   
    margin-left:5px;
     font-size: 1em;
     background-color: white;
     border-radius: 350px; 
     font-family:system-ui;
}
.sideicons a
{
    
    text-decoration: none;
    background-color: white;
    min-height: 20px;
    border-radius: 200px; 
    justify-content: center;
    text-align: center;
    
}

.sideicons a i
{
      font-size: 1.7em;
      color:black;
      opacity: 0.9;
      margin-top: 10px;
      justify-content: center;
      
}
.sideicons  a:hover
{
    background-color: black;
   
     transition: 0.5s;
   

}
.sideicons  p:hover
{
    background-color: black;
    color: white;
     transition: 0.5s;
   

}
.sideicons  a:hover i
{
   color:white;
     transition: 0.5s;
   

}
 /* end of sidebar */
/* largest screen */
@media only screen and (min-width:600px)
{
    
.images
{        
    max-height: max-content; 
    /* margin-top: 3%; */
    /* margin-bottom: 3%; */
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    
}
.images::-webkit-scrollbar
{
    width: 0;
}

.images.UnhideText
{
    overflow-x: auto;
    white-space: nowrap;
}
.textImage
{
    min-width:185px;
    padding-top: 5%;
    padding-right: 2%;
    margin-left: 200px;
    text-align: right;
    /* transition: transform 0.6s; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    transition-duration: 1.5s;
    transition-property: padding-top;
}
.images .addtexthovering
{
    transform: scale(1.15);
    padding-top: 2%;
    transition-duration: 1s;
    transition-property: padding-top;
}
.subtext1
{
    text-align: right;
    opacity: 50%;
   font-size: small;
   
}
.subtext2
{
    text-align: right;
    opacity: 50%;
   font-size: small;
}
.subtext3
{
    opacity: 70%;
    font-size: small;
}
.Subtexts
{
    margin-top: 130px;
   opacity: 0;
   text-align: right;
   transition: opacity 900ms ease-in-out;
}
.Subtexts.UnhideText
{
  opacity: 1;
  transform: scale(1);
}
.TextDescription
{
    
    margin-top: 3%;
    margin-left: 4%;
    min-width:40%;
    /* max-width:40%; */
    height: 300px;
    white-space: normal;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    cursor:pointer;
    opacity: 0;
    /* transition: transform 1s; */
    transition: opacity 900ms ease-in-out;
    
}

.TextDescription.UnhideText
{
    opacity: 1;
    transform: scale(1);
    
}
.TextDescription::-webkit-scrollbar {
    display: none;
}

.image
{
       /* margin-top: 3%; */
      
       padding: 5% 8% 5% 8%;
       width: 45%; 
       position: relative;
       transition: transform 1s;
       cursor:pointer;

}
.images .addhov
{
    transform: scale(1.5);
    width: 45%;
}

}
/* media query for mobile */
@media only screen and (max-width:600px)
{
.images{
    
    max-height: max-content;
     margin-top: 3%;
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
}
.textImage
{
   width:100%;
   margin-left:5%;
   text-align: left;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: small;
    
   br{content:' ';}
  br:after{content:' ';}
}
.TextDescription
{
    display: none;
}
.subtext1
{
   margin-left: 0%;
   opacity: 50%;
  font-size: small;
}
.subtext2
{
   margin-left: 0%;
   opacity: 50%;
  font-size: small;
  display: none;
}
.image
{
      /* margin-top: 3%; */
      max-width: 100%;
      margin-left: 5%;
      height: 0%;  
      width: 90%;
      position: relative;
      transition: transform 0.6s;
      cursor:pointer;
}
.footernav ul
{
    flex-direction:column;

}
.footernav ul li
{
    width:100%;
    text-align:center;
     margin:10px;

}
}
/* end of media query mobile */
/* media query min 600 - max 1075 */
@media only screen and (min-width:600px) and (max-width:1090px)
{
    .images{
    
        max-height: max-content;
         margin-top: 3%;
          display: flex;
   }
   .TextDescription
{
    display: none;
}
   .textImage
   {
       width:40%;
       margin-left: 0%;
       text-align: right;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: small;
   }
   .subtext1
   {
       margin-left: 0%;
       opacity: 50%;
      font-size: small;
   }
   .subtext2
   {
       margin-left: 0%;
       opacity: 50%;
      font-size: small;
   }
   .image
   {
          /* margin-top: 3%; */
          max-width: 60%;
          margin-left: 3%;
          height: 0%;  
          width: 30%;
          position: relative;
          transition: transform 0.6s;
          cursor:pointer;
   
   }
   .images img:hover
    {
       /* transition-delay: 1s; */
       transform: scale(1.1);
       width: 32%;
   }
}
/* footer css */
footer
{
    
    background-color: black;
    margin-top:10px;
}
.footercontainer
{
    width:100%;
   padding-top: 20px;
   display:flex;
   justify-content:normal;
   
    
}
.socialicon
{
    display: flex;
    justify-content: center;
}
.socialicon a
{
    
    text-decoration: none;
    background-color: white;
    margin:28px;
    width:50px;
    min-height: 50px;
    border-radius: 200px; 
    justify-content: center;
    text-align: center;
    
}

.socialicon a i
{
      font-size: 2em;
      color:black;
      opacity: 0.9;
      margin-top: 10px;
      justify-content: center;
      
}
.socialicon  a:hover
{
    background-color: black;
     transition: 0.5s;
   

}
.socialicon  a:hover i
{
   color:white;
     transition: 0.5s;
   

}
.f_content
{
    display: block;
  justify-content: center;
  margin-left: 150px; 
   
}
.logo
{
    width:130px;
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 130px; 
    
}
.aboutFooter
{
    margin: 30px 0;
    
    
}
.aboutFooter ul{
     
     justify-content: center;
    display:flex;
}

.aboutFooter ul li a
{
color: white;
margin: 20px;
text-decoration: none;
font-size:1.3em;
opacity:0.7;
transition:0.5s;
}
.aboutFooter ul li a:hover
{
      opacity:1;
}
.footerbottom
{
   
   
    text-align: center;
}
.footerbottom p
{
  color:white;
}
