*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth;
}
body{
    height: 100dvh;
}


/*//////////////////////////////////////// nav bar  ////////////////////////////////////////////*/
nav
{
    margin-bottom: 30px;
    background-color: black;
    width: 100%;
    padding: 10px 2%;     
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}
.MainName a
{
    display: flex;
    text-decoration: none;
}
.mainName1
{
  color :white;
  font-size: x-large;
  font-family: sans-serif;
}
.mainName2
{
    margin-left: 6%;
    margin-top: 4%;
    color: rgb(147, 147, 147);
}

.sub-menu-wrap-Right
{
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    right:0%;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
}
/* box of left dropdown  */
.sub-menu-wrap-Left
{
    position: absolute;
   
    top: 100%;
    padding: 0;
    margin: 0;
    left:0%;
    width: 320px;
    max-height: 400px;
    overflow: hidden;
    transition: max-height 0.5s;
}
/* box of right dropdown onclick */
.sub-menu-wrap-Right.hide-menu
{
    max-height: 0px;
}
/* box of left dropdown onclick */
.sub-menu-wrap-Left.hide-menu
{
    max-height: 0px;
}
/* box of right dropdown color,align*/
.sub-menu-Right
{

   background-color: black;
    padding: 10%;
    text-align: right;
}
/* box of left dropdown color,align*/
.sub-menu-Left
{
    background-color:rgb(0, 0, 0);
    padding: 10%;
    text-align: left;
}
/* text of right dropdown */
.right-menu
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}
/* text of right dropdown */
.Left-menu
{
    font-family:Arial, Helvetica, sans-serif;
    display: block;
}
/* text of right dropdown */
.sub-menu-link-Right
{
    text-decoration: none;
    margin: 12px 0;
}
/* text of left dropdown */
.sub-menu-link-Left
{
    text-decoration: none;
    margin: 12px 0;
}
.sub-menu-link-Right p
{
    margin-top: 7px;
    color:rgb(176, 170, 170);
    text-decoration: none;
}
.sub-menu-link-Left p
{
    margin-top: 7px;
    color:rgb(176, 170, 170);
    text-decoration: none;
}
.sub-menu-link-Right :hover 
{
    margin-top: 7px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.sub-menu-link-Left :hover 
{
    margin-top: 7px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.lefticonbar
{
    width: 3%;
    margin-left: 0cm;    
}
.Righticonbar
{
    width: 3%;
    margin-left: 0cm;    
}
/* nav bar end */
/* side bar */
.sidebar
{
    display: block;
    width: 68px;
    top:200px;
    position: fixed;
    z-index: 1;
    
}
.sideicons
{
   
    display: grid;
    line-height: 32px;
}
.sideicons p
{
   
    margin-left:5px;
     font-size: 1em;
     background-color: white;
     border-radius: 350px; 
     font-family:system-ui;
}
.sideicons a
{
    
    text-decoration: none;
    background-color: white;
    min-height: 20px;
    border-radius: 200px; 
    justify-content: center;
    text-align: center;
    
}

.sideicons a i
{
      font-size: 1.7em;
      color:black;
      opacity: 0.9;
      margin-top: 10px;
      justify-content: center;
      
}
.sideicons  a:hover
{
    background-color: black;
   
     transition: 0.5s;
   

}
.sideicons  p:hover
{
    background-color: black;
    color: white;
     transition: 0.5s;
   

}
.sideicons  a:hover i
{
   color:white;
     transition: 0.5s;
}
 /* end of sidebar */
 /* ==================================================================================================== */
/*================================ largest screen ======================================================*/
@media only screen and (min-width:1100px)
{
    
.images
{        
    max-height: max-content; 
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    transform: scale(100%);
    
}
.images::-webkit-scrollbar
{
    width: 0;
}
.images .zoomImage
{
    transform: scale(1.12);

    width: 30%;
}
.images .zoomtext
{
    transition: transform 1s;
    transform: scale(1.12);
    /* background-color: aquamarine; */
}
.images.UnhideText
{
    overflow-x: auto;
    white-space: nowrap;
}
.textImage
{
    transform: scale(1);
    transition: transform 1.5s ease;
    
    min-width: 30%;
    padding-right: 2%;
    /* margin-left: 10%; */
    text-align: right;
    font-family:system-ui;
    font-size: larger;
    
    
    padding-top: 5%;
    transition-property: padding-top;
     transition-duration: 1.5s;

}
.images .addtexthovering
{
    transform: scale(1.15);
    transition: transform 1s ease-in-out;
    padding-top: 2%;
    padding-right: 5%;
    transition-property: padding-top ;
    transition-duration: 1s;
}
.images .addhov
{
    transform: scale(1.5);
    width: 30%;
}
.subtext1
{
    text-align: right;
    opacity: 50%;
   font-size: small;
   
}
.subtext2
{
    text-align: right;
    opacity: 50%;
   font-size: small;
}
.subtext3
{
    opacity: 70%;
    font-size: small;
}
.Subtexts
{
    margin-top: 130px;
   opacity: 0;
   text-align: right;
   transition: opacity 900ms ease-in-out;
}
.Subtexts.UnhideText
{
  opacity: 1;
  transform: scale(1);
}

.TextDescription1::-webkit-scrollbar {
    display: none;
}
.TextDescription1
{
    
    margin-top: 2%;
    padding-left: 5%;
    min-width:30%;

    height: 360px;
    white-space: normal;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    cursor:pointer;
    opacity: 0;
    
    transition: opacity 900ms ease-in-out;
    
}

.TextDescription
{
    
    /* margin-top: 5%; */
    margin-left: 4%;
    min-width:40%;
    /* max-width:40%; */
    /* height: 300px; */
    white-space: normal;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    cursor:pointer;
    opacity: 0;
    /* transition: transform 1s; */
    transition: opacity 900ms ease-in-out;
    
}

.TextDescription.UnhideText, .TextDescription1.UnhideText
{
    opacity: 1;
    transform: scale(1);
    
}
.TextDescription::-webkit-scrollbar {
    display: none;
}

.image
{
       /* margin-top: 3%; */
      
       margin: 5% 5% 5% 5%;
       width: 30%; 
       position: relative;
       transition: transform 1s;
       cursor:pointer;
       box-shadow: 2px 4px 5px;

}

}
/*====================== media query for mobile============================================ */
@media only screen and (max-width:500px)
{
.lefticonbar
{
    width: 5%;
    margin-left: 0cm;    
}
.Righticonbar
{
    width: 5%;
    margin-left: 0cm;    
}
.images
{   
    max-width: 100%;
    min-height: 200%;
    max-height: 50%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    overflow-x: auto;
}
.images .addhov
{
    transform: scale(1.02);
    transition: transform 0.5s;
   
}
.images::-webkit-scrollbar
{
    width: 0;
}
    
.myMobileView
{
   
    /* height: 100%; */
    min-width: 90%;
    /* max-width: 100%; */
    margin: 4% 5% 4% 5%;
    position: relative;
    display: flex;
    
    flex-direction: column;
    flex-direction: column-reverse;
}
.image
{
      margin-left: 5%;
      margin-right: 5%;
      width:90%;
      max-height:100%;
      max-width: 100%;

      position: relative;
      transition: transform 0.6s;
      cursor:pointer;
      box-shadow: 5px 3px 3px lightgray;
}
.textImage
{

    margin-left: 5%;
    margin-right: 5%;
   width:max-content;
   padding-top: 1%;
   width:fit-content;
  
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: small;
    
   br{content:' ';}
   br:after{content:' ';}

}
.images .addtexthovering
{
    transform: scale(1.09);
    transition: transform 0.3s ;
     padding-top: 3%; 
    /* transition-property: padding-top ; */
    /* transition-duration: 0.3s; */

}
.TextDescription1
{
    display: none;
    height: 20px;
    min-width: 33%;
    margin: 8% 2% 2% 2%;
    white-space: normal;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    position: relative;
    cursor:pointer;
    opacity: 1;
    /* transition: transform 1s; */
    transition: opacity 900ms ease-in-out;
}
.TextDescription1::-webkit-scrollbar {
    display: none;
}
.TextDescription
{
    
  
    /* min-height: 230px;
    max-height: 230px; */
    min-width: 80%;
    /* max-width: 100%; */
    
    margin: 5% 2% 7% 2%;

    white-space: normal;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    position: relative;
    cursor:pointer;
    opacity: 1;
    /* transition: transform 1s; */
    transition: opacity 900ms ease-in-out;
    box-shadow: 5px 3px 3px lightgray;
    
}

.subtext1
{
   margin-left: 0%;
   opacity: 50%;
  font-size: small;
}
.subtext2
{
   margin-left: 0%;
   opacity: 50%;
  font-size: small;
  display: none;
}
.subtext3 , .subtext4
{
    display: none;
}
.sidebar
{
    display: none;
}

}
/*=============================== media query  tablet  ======================== */
@media only screen and (min-width:500px) and (max-width:1100px)
{

.lefticonbar
{
    width: 4%;
    margin-left: 0cm;
}
.Righticonbar
{
    width: 4%;
    margin-left: 0cm;
}
.images{

    height: 60dvh;
        margin-top: 3%;
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        margin-left: auto;
        margin-right: auto;
}
.images::-webkit-scrollbar
{
    width: 0;
}
.images.UnhideText
{
    overflow-x: auto;
    white-space: nowrap;
}
.images .addhov
{
 transform: scale(1.09);
 transition: transform 0.5s;
 
}

.textImage
{
    min-width: 25%;
    margin-left: 1%;
    margin-top: 2.5%;
    padding-right: 2%;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.images .addtexthovering
{
    transform: scale(1.1);
    transition: transform 0.8s ;
    padding-right: 2%; 
    transition-property: padding-right 0.8s ; 
    /* transition-duration: 0.5s; */
    
}
.image
{
   
    margin: 2.5% 3% 2.5% 3%;
       width:400px; 
       position: relative;
       transition: transform 0.6s;
       cursor:pointer;
       box-shadow: 2px 4px 5px;

}
.TextDescription1
{
    /* display: none;  */
    min-height: 30%;
    min-width: 30%;
    margin: 3% 2% 2% 2%;
    white-space: normal;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: relative;
    cursor: pointer;
    opacity: 0;
    /* transition: transform 1s; */
    transition: opacity 900ms ease-in-out;
}
.TextDescription1::-webkit-scrollbar {
    display: none;
}
.TextDescription
{

    /* max-height: 200px; */
    min-width: 45%; 
    
    margin: 2% 2% 2% 2%;

    white-space: normal;
    overflow-y: scroll;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    position: relative;
    cursor:pointer;
    opacity: 0;
    /* transition: transform 1s; */
    transition: opacity 900ms ease-in-out;
    box-shadow: 2px 4px 5px;
    
}
.TextDescription.UnhideText, .TextDescription1.UnhideText
{
    opacity: 1;
    transform: scale(1);
    
}
.TextDescription::-webkit-scrollbar {
    display: none;
}


.subtext1
{
    margin-left: 0%;
    opacity: 50%;
    font-size: small;
}
.subtext2
{
display: none;
    margin-left: 0%;
    opacity: 50%;
    font-size: small;
}
.subtext3 ,.subtext4
{
display: none;
}
}
/* ========================================================================================================== */
/* footer css */
/* footer css */
footer
{
    
    background-color: black;
   
    width: 100%;
  
 
}
.footercontainer
{
    width:100%;
   padding-top: 20px;
   display:flex;
   justify-content: center;
   
   
    
}
.socialicon
{
    display: flex;
    justify-content: center;
}

.socialicon a
{
    
    text-decoration: none;
    background-color: rgb(255, 251, 251);
    margin:28px;
    width:50px;
    min-height: 50px;
    border-radius: 200px; 
    justify-content: center;
    text-align: center;
    
}

.socialicon a i
{
      font-size: 2em;
      color:rgb(0, 0, 0);
      opacity: 0.9;
      margin-top: 10px;
      justify-content: center;
      
}

.socialicon  a:hover
{
    background-color: black;
     transition: 0.5s;
   

}
.socialicon  a:hover i
{
   color:white;
     transition: 0.5s;
   

}
.f_content
{
    display: block;
  justify-content: center;
  margin-right: 40%; 
   
}
.logo
{
    width: 130px;
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 5%;
    
}
.aboutFooter
{
    margin: 30px 0;
    
    
}
.aboutFooter ul{
     
     justify-content: center;
    display:flex;
}

.aboutFooter ul li a
{
color: white;
margin: 20px;
text-decoration: none;
font-size:1.3em;
opacity:0.7;
transition:0.5s;
}
.aboutFooter ul li a:hover
{
      opacity:1;
}
.footerbottom
{
    text-align: center;
}
.footerbottom p
{
  color:white;
}
/* footer in tablet view */
@media  (max-width:1050px)
{
   
  body{
    min-height: 100vh;
  }
  footer{
    position: sticky;
    top:100%;
    margin-top: 10px;
  }
.socialicon
{
    margin-left: 4.4%;
    margin-top: 10px;
    justify-content: left;
}
.socialicon .icons
{
    margin-left: 15%;
}
.socialicon .icon1
{
    margin-left: 17%;
}
    .socialicon a
{
    
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin:18px;
    width:29px;
    min-height: 29px;
    border-radius: 200px; 
    justify-content: center;
    text-align: center;
    
}
.sidebar
{
    display: none;
}

.socialicon a i
{
      font-size: 1em;
      color:rgb(0, 0, 0);
      opacity: 0.9;
      margin-top: 7px;
      justify-content: center;
      
}
.f_content
{
    display: block;
  justify-content: center;
  margin-left:auto;
  margin-right: auto;  
   
} 
.logo
{
    width:90px;
    align-self: flex-start;
    margin-top: 40px;
    margin-left: 50px;
}

}

/* footer in mobile view  */
@media  (max-width:650px)
{
    nav
    {
        margin-bottom: 5%;
    }
   
    
        .logo
    {
        display:none;
        
    }
    .footercontainer
    {
        width: 100%;
        padding: 50px 30px 20px;
        text-align: center;
        justify-content: center;
    }
    
    
    .socialicon .icons
    {
        margin-left: 0%;
    }
    .socialicon .icon1
    {
        margin-left: 0%;
    }
    .socialicon a
    {
        
        text-decoration: none;
        background-color: rgb(255, 255, 255);
        margin:28px;
        width:43px;
        min-height: 40px;
        justify-content: center;
        text-align: center;
        
    }
    
    .socialicon a i
    {
          font-size: 1.7em;
          color:rgb(0, 0, 0);
          opacity: 0.9;
          margin-top: 7px;
          justify-content: center;
          
    }
    .f_content
    {
        display: block;
      justify-content: center;
      margin-left:3px; 
      margin-right: 0%;
       
    } 
    
    .aboutFooter ul
    {
        display: block;
        margin-top: 10px;
      
    }
    .aboutFooter ul li 
{
    margin-top: 28px;
}
    .aboutFooter ul li a
    {
    color: white;
    margin: 3px;
    text-decoration: none;
    font-size:0.9em;
    opacity:0.7;
    transition:0.5s;
    }


}